body{
    width:960px;
    margin: auto;
}

h1{
    color:white;
    text-shadow: 1px 2px 5px blue;
}


h2{
    background: linear-gradient(90deg,#AA8ADE,white);
    color:white;
}

body > div{
    padding-left: 5px;
}


div#studyDetail{
    display: grid;
	grid-template-columns: 1fr 1fr;
	height: 200px;
	width: 1024px;
}

div#studyDetail > div{
    left:10px;
	right: 10px;
	margin:5px;
	padding:5px;
	background-color: skyblue;
    box-shadow: 1px 1px 1px black;

    color: gray;
}

p{
    color:gray;
}

#a{
    color:gray;
    font-size: 15px;
}

a:hover{
    text-shadow: 1px 1px 1px greenyellow;
}