p {
	color: navy;
}

p.info {
	font-size: small;
	background-color: #dfdfdf;
}

h1 {
	color:white;
	text-shadow: 1px 2px 2px navy;
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 200px;
	width: 1024px;
	left:10px;
	right: 10px;
}

div#zentai > div {
	padding:5px;
	background-color: #ffefaf;
}

h2 {
	border: solid 1px black;
	margin: 5px;
	font-family: cursive;
	color: #3f3faf;
	background-image: linear-gradient(white, #ffefaf);
}

img.sign{
	float: right;
}


